body {
  padding: 0;
  margin: 0;
}
#wrapper {
  width: 600px;
  margin: 0 auto;
  height: auto;
  background: pink;
  padding-bottom: 550px;
}
.centr {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.main_nav {
  font-size: 0;
  margin-top: 40px;
}
.main_nav li {
  display: inline-block;
  font-size: 20px;
  background: rgb(55, 55, 55);
  margin-right: 5px;
  list-style-type: none;
  position: relative;
  width: 80px;
}
.main_nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.main_nav li ul {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  max-height: 0;
  transition: 0.5s all;
}
.main_nav li:hover {
  background: coral;
}
.main_nav li:hover > ul {
  max-height: 300px;
  width: 100%;
  font-size: 18px;
  transition: 0.5s all;
  overflow: visible;
}
.main_nav .lvl2_l4 {
  width: 80px;
  display: block;
}
.main_nav ul .lvl_3_l4_3 {
  top: 0;
  right: 100%;
  left: 50%;
}
